#margin{
    margin-top: 40px;
    margin-bottom: 40px;
}

.svg-animation-container{
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 24px;
    margin: 0 auto;
    border-radius: 20%;
}
.svg-animation-container svg{
    width: 100%;
}

.svg-animation-container:hover{
    box-shadow: 5px 5px 10px rgb(182, 179, 179);
}

#BGElement{
    animation: ChangeColor 3s infinite alternate;
}

#SoccerBall{
    animation: bounce 1s ease-out infinite alternate;
}

#Shoe{
    animation: rotate 2s infinite alternate;
    transform-origin: right;
    transform-box: fill-box;
}

#RightHand{
    animation: rotateHand 2s infinite alternate;
    transform-origin: right;
    transform-box: fill-box;
}

#LeftHand{
    animation: rotateLHand 2s infinite alternate;
    transform-origin: top left;
    transform-box: fill-box;
}

@keyframes ChangeColor{
    0% {
        fill: red;
    }
    100%{
        fill: blue;
    }
}

@keyframes bounce{
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-100px);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(10deg);
    }
    70%{
        transform: rotate(-5deg);
    }
}

@keyframes rotateHand{
    0%{
        transform: rotate(-5deg);
    }
    70%{
        transform: rotate(10deg);
    }
}

@keyframes rotateLHand{
    0%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
    }
}